.teste{
    width: 200px;
    height: 1000px;
    overflow: auto;
    background-color: #ccc;
    

}

.button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: red;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}